html body {
  background-color: rgb(197, 197, 197);
}

.n {
  background-color: rgb(179, 179, 179);
  border: none;
  color: rgb(255, 0, 0);
  height: 40px;
  border-radius: 80px;
  width: 140px;
  size: 16px;
  font-weight: bold;
  font-size: 15px;
  transition: background-color 0.9s;
  box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.25);
}

.n:hover {
  background-color: rgb(255, 0, 0);
  cursor: pointer;
  color: rgb(177, 177, 177);
}